.container {
    width: 810px;
}

body {
    background: #edf2f9;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
    background: #fff;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

/* Navigation */

nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sign up button */

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #096d90;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

/* Round corners */

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 10px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}

/* User show page */

table.profile {
    width: 100%;
    margin-bottom: 0;
}

td.main {
    width: 70%;
    padding: 1em;
    background: #ccffff;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffffff;
}

.profile img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: red;
    display: table;
}

.field_with_errors label {
    color: #fff;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px 7px 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #d00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

ul.users {
    margin-top: 1em;
}

.users li {
    list-style: none;
}

h1.micropost {
    margin-bottom: 0.3em;
}

table.microposts {
    margin-top: 1em;
}

table.microposts tr {
    height: 70px;
}

table.microposts tr td.gravatar {
    border-top: 1px solid #ccc;
    vertical-align: top;
    width: 50px;
}

table.microposts tr td.micropost {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
    display: block;
    font-size: 85%;
    color: #666;
}

div.user_info img {
    padding-right: 0.1em;
}

div.user_info a {
    text-decoration: none;
}

div.user_info span.user_name {
    position: absolute;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 2em;
}

form.new_micropost textarea {
    height: 4em;
    margin-bottom: 0;
}

form.new_searchengine {
    margin-bottom: 2em;
}

form.new_searchengine textarea {
    height: 4em;
    margin-bottom: 0;
}

.commentsubmit {
    background: none repeat scroll 0 0 #000088;
    border: 1px solid #111111;
    color: #DDDDDD;
    font: bold 10px verdana;
}

.postsubmit {
    background: none repeat scroll 0 0 #000088;
    border: medium none;
    color: #DDDDDD;
    font-weight: bold;
    padding: 2px;
}

.commentform {
    clear: both;
    display: none;
    margin-top: 1px;
    text-align: center;
}

h2 {
    background: none repeat scroll 0 0 #9A0000;
    color: #F7F7F7;
    margin: 4px 0 0;
    padding: 28px 0;
}


.main {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #888888;
    margin: 0 auto;
    overflow: hidden;
    padding: 2px 10px;
    text-align: left;
    width: 400px;
}

a {
    color: #0099FF;
    text-decoration: none;
}

.cheerbox {
    color: #AAAAAA;
    float: right;
    font: 10px verdana;
    margin: 0;
    padding: 0 3px 0 0;
    text-align: center;
    width: 42px;
}

.postdiv {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dashed #EEEEEE;
    border-bottom-style: solid;
    clear: both;
    float: left;
    margin: 0 0 10px;
    padding: 5px;
    width: 90%;
}
.userdiv {
    background: none repeat scroll 0 0 #FFFFFF;
    clear: both;
    float: left;
    margin: 0 0 10px;
    padding: 5px;
    width: 90%;
}
.options {
    clear: left;
    color: #D2691E;
    float: left;
    font: 10px verdana;
    margin: 0;
    padding: 1px;
    text-align: left;
    text-align: left;
    width: 367px;
}

.mybutton {
  display: inline;
}
.button-to {
  display: inline;
}

.options a {
    color: #0099cc;
}

.reply {
    clear: both;
    color: #333333;
    float: left;
    font: 13px "trebuchet MS";
    margin: 0;
    padding: 3px 3px 0 5px;
    width: 234px;
}

.replydiv {
    background: none repeat scroll 0 0 #EDEFF4;
    border: 1px dashed #e3e3e3;
    clear: both;
    float: left;
    margin: 2px 0 0 32px;
    padding: 6px 3px;
    width: 330px;
    font: 13px "trebuchet MS";
}

.topmenu {
    background: none repeat scroll 0 0 #333333;
    font: 13px "trebuchet MS";
    height: 22px;
    list-style: none outside none;
    margin: 0;
    padding: 0 8px 0 0;
    text-align: right;
}

.topmenu li {
    float: right;
    padding: 1px 0 0 20px
}

.topmenu li a {
    color: #FFFFFF;
}

.topmenu li a:hover {
    color: #F4EC7D;
}

.greyed {
    color: #aaa;
}

.options a#redded, a#redded {
    color: #9d0000;
    float: right;
}

.user_reports {
    background: none repeat scroll 0 0 #F0F6D0;
    border: 1px solid #E3E3E3;
    clear: both;
    font: bold 14px arial;
    padding: 4px 3px;
}

.admin_users {
    border: 1px solid #ddd;
    padding: 4px;
    overflow: hidden;
    margin: 3px 0;
}

.post_username {
    font-weight: bold;
    color: #3B5998;
    float: left;
    line-height: 19px;
    margin-right: 4px;
}

.post_message {
    clear: right;
    font: 13px "trebuchet MS";
    line-height: 19px;
}

.post_timestamp {
    font: bold 10px arial;
    clear: right;
    line-height: 19px;
}

.reply_msg {
    font-weight: bold;
    float: left;
    color: #3B5998;
}



