<% if signed_in? %>
  <table class="front" summary="For signed-in users">
        <%= render 'shared/user_info' %>
    <tr>
      <td class="main">
        <h1 class="micropost">Pose a Q!</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>LiveQ</h1>

  <p>
    <strong>Your Questions. Our Answers!</strong>
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
