<table class="profile" summary="Profile information">
  <td class="sidebar round">
    <strong>Name</strong> <%= @user.name %> <br/>
    <strong>URL</strong>  <%= link_to user_path(@user), @user %>
  </td>
  <tr>
    <td class="main">
      <% if current_user?(@user) %>
          <%= render 'shared/micropost_form' %>
      <% end %>
      <%= render 'shared/feed' %>
    </td>
  </tr>
</table>
