<tr>
  <td class="user">
    <span class="gravatar">
    <%= link_to gravatar_for(feed_user_item), feed_user_item %>
    </span>
    <span class="user">
      <%= link_to feed_user_item.name, feed_user_item %>
    </span>
  </td>
</tr>
